* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  font-family:"Courier New", Courier, monospace;
=======
  font-family: "Cantarell", "Courier New", Courier, monospace;
>>>>>>> developement
}
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #e4edf2;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}
.container {
  width: 100%;
}
.header {
  height: 100vh;
  background-image: url(/assets/img/header-bg.jpg);
  background-size: cover;
  padding: 0 1.7rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* background-image: linear-gradient(135deg, hsla(210, 69%, 75%, 1) 0%, hsla(210, 69%, 75%, 1) 23%, hsla(201, 35%, 92%, 1) 72%), url(/assets/img/header-bg.jpg); */
}

.header_nav {
  height: var(--fixed-header-height);
}
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav_log_list,
.nav_menu_list {
  justify-content: space-evenly;
  max-width: 30%;
}
.nav_log_item .nav_log_link,
.nav_menu_item .nav_menu_link {
  font-size: 16px;
  line-height: 27px;
  color: var(--link-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_log_link:hover,
.nav_menu_link:hover {
  color: var(--btn-hover-color);
}
.btn.nav_log_link.signup_link {
  padding: 10px 15px;
  background: 0 0;
  border: 1px solid #335eea;
  transition: 0.4s;
}
.btn.nav_log_link.signup_link:hover {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;
}
.close_btn,
.toggle_btn {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-color);
  z-index: 4;
  display: none;
}
.logo {
  position: absolute;
  font-size: 28px;
  color: #335eea;
  margin: 0 4rem;
}
.wrapper {
  width: 100%;
  margin: 5rem 0;
}
.wrapper_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper_item_1 {
  padding: 5rem 1.5rem;
  height: 100%;
}
.wrapper_item1_heading {
  font-weight: 300;
  font-size: 5vw;
  /* line-height: 1rem; */
}
.wrapper_item1_heading span {
  color: var(--primary-color);
}
.btn_wrapper {
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
}
.btn {
  width: 110px;
  height: 55px;
  font-size: 16px;
  color: #000;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
  border: #fff;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}
.visit_html5_btn {
  margin-left: 1rem;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  background-color: #aebfff;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.visit_html5_btn:hover {
  background-color: #8fabff;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.watch_video_btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background-color: #e1e7fc;
  color: #0e2a86;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.watch_video_btn i.play_icon {
  padding-right: 5px;
}
.watch_video_btn:hover {
  background-color: #d7ddf1;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.wrapper_item_2 {
  margin-left: 20px;
}
.wrapper_item_2 img {
  width: auto;
}
.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 100%;
}
.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.down_icon {
  text-align: center;
  color: var(--primary-color);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.down_icon:hover {
  color: var(--btn-hover-color);
}
.down_icon i {
  font-size: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 97%;
}
.main {
  width: 100%;
  margin-top: 1rem;
  padding: 0 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.main_heading .text_info_title {
  font-size: 30px;
  font-family: "Noto Sans Mono CJK JP", "Times New Roman", Times, serif;
  font-weight: 300;
  margin-bottom: 1rem;
}
.main_heading .text_info_message {
  text-align: center;
  width: 80%;
  color: grey;
  line-height: 2rem;
}
.main_products {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products_cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 70px auto 0;
}
.product_item {
  width: 30%;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 2%;
  background-color: #fff;
  box-shadow: -1px 18px 41px -3px rgba(0, 0, 0, 0.14);
}
.card_img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 2% 2% 0 0;
}
.product_desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
  font-size: 16px;
}
.product_desc .card_product_name {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.2rem;
}
.product_desc .card_product_info {
  text-align: center;
  color: #6c6e70;
}
footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
<<<<<<< HEAD
  height: 30px;
=======
  height: 4.5rem;
>>>>>>> developement
  margin-top: 8rem;
}

footer span {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  margin: 5rem;
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .header {
    align-items: center;
  }
  .header_nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    position: relative;
  }
  .nav {
    justify-content: space-between;
  }
  .toggle_btn {
    display: block;
    transform: translateX(50%);
  }
  .wrapper_content {
    align-items: center;
    justify-content: space-evenly;
  }
  .wrapper_item1_heading {
    font-size: 30px;
  }
  .wrapper_item_2 {
    width: 300px;
  }
  .watch_video_btn {
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
  .visit_html5_btn {
    width: 200px;
    height: 40px;
  }
  .nav_menu {
    display: none;
    position: fixed;
    width: 30%;
    height: 100vh;
    top: 0.1px;
    display: flex;
    right: -100%;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    z-index: 50;
    transition: all 0.5s;
    background-color: var(--btn-hover-color);
  }
  .nav_menu .nav {
    display: block;
  }
  li.nav_log_item,
  li.nav_menu_item a {
    color: #fff;
  }
  .nav_log_item .nav_log_link,
  .nav_menu_item .nav_menu_link {
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
  .nav_log_list,
  .nav_menu_list {
    max-width: 50%;
  }
  .btn.nav_log_link.signup_link {
    border: none;
    padding: 0;
  }
  .btn.nav_log_link.signup_link:hover {
    background: 0 0;
  }
  .close_btn {
    position: absolute;
    top: 20px;
    z-index: 10000;
    right: 20px;
    display: none;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
  }
  .main {
    padding: 0 10rem;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 30px;
    position: relative;
    margin-left: 0;
  }
  .toggle_btn {
    display: block;
  }
  .nav {
    justify-content: space-between;
  }
  .nav_menu {
    display: none;
    position: fixed;
    width: 93%;
    height: 100%;
    top: 2.5%;
    display: flex;
    right: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    z-index: 50;
    border-radius: 5% 0;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    transition: all 0.5s;
    background-color: #fff;
  }
  .nav_log_list,
  .nav_menu_list {
    flex-direction: column;
    align-items: center;
  }
  .nav_log_list {
    max-width: 300px;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .btn.nav_log_link.signup_link {
    border: none;
    padding: 0;
  }
  .btn.nav_log_link.signup_link:hover {
    background: 0 0;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_log_item .nav_log_link,
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .wrapper_content {
    flex-direction: column-reverse;
  }
  .wrapper_item_1 {
    padding: 0;
  }
  .wrapper_item_2 {
    width: 350px;
    height: 350px;
  }
  .wrapper_item_1 .wrapper_item1_heading {
    text-align: center;
    font-size: 30px;
    padding: 0;
  }
  .btn_wrapper {
    justify-content: center;
    max-width: 300px;
  }
  .wrapper_item1_heading {
    width: 200pxx;
  }
  .main {
    padding: 0;
  }
  .product_item {
    width: 200px;
  }
  .close_btn {
    position: absolute;
    top: 20px;
    z-index: 10000;
    right: 20px;
    display: none;
    cursor: pointer;
    transition: 0.5s;
    color: var(--primary-color);
  }
}
